USER_UUID=
CATALOG_UUID=
ApiUUID=
ApiKey=

HOSTNAME=127.0.0.1
PORT=3000

BASE_PATH=

IMDB_API_KEY=
TMDB_API_KEY=
TVDB_API_KEY=

# ==== CATALOG ====
# Name: RedPrimeRose
# UUID: lZ1dmwc_2
# ApiUUID:
# ApiKey:
# Status: on_line
# =====  USER  ====
# Email: admin@redprimerose.org
# UUID:
# ApiUUID:
# ApiKey:
# =====
# url: /u/bcUr9fHtWI/c/lZ1dmwc_2
# =================
